[project]
name = "idelm-surgery-generator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "numpy>=2.4.1",
    "numpy-typing>=1.1.1",
    "pydantic>=2.12.5",
]
